<main id="main" class="main">
  <section class="section gamedetails">
    <div class="row" [formGroup]="filterForm">
      <div class="col-md-12">
        <!--your code will come here start-->
        <i class="fa"></i>
        <h4 class="text-pink">
          <img src="../../../../../assets/images/master_dashboard.png" alt="" />
          Master Dashboard
        </h4>
        <hr />
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 mb-3">
              <label>From Date</label>
              <input
                type="date"
                formControlName="fromDate"
                name="fromDate"
                class="form-control"
                id=""
                placeholder="Month"
              />
            </div>
            <div class="col-md-3 mb-3">
              <label>To Date</label>
              <input
                type="date"
                formControlName="toDate"
                name="toDate"
                class="form-control"
                id=""
                placeholder="Month"
              />
            </div>
            <div class="col-md-3 mb-3">
              <label>Select Sport</label>
              <select
                formControlName="sportsId"
                id="ab"
                class="form-select bg-dgrey"
              >
                <option value="null">All</option>
                <option *ngFor="let game of games" [value]="game.sportId">
                  {{ game.sportName }}
                </option>
              </select>
            </div>
            <div class="col-md-3 mb-3">
              <label>Select Match</label>
              <select
                formControlName="matchId"
                id="ab"
                class="form-select bg-dgrey"
              >
                <option value="0">All</option>
                <option [value]="match.matchId" *ngFor="let match of matchList">
                  {{ match.matchName }}
                </option>
              </select>
            </div>

            <div class="col-md-4 mb-2">
              <label>Select Market Type</label>
              <select
                formControlName="marketId"
                id="ab"
                class="form-select bg-dgrey"
              >
                <option value="null">All</option>
                <option
                  [value]="market.marketTypeId"
                  *ngFor="let market of marketTypeList"
                >
                  {{ market.marketType }}
                </option>
              </select>
            </div>


            <div class="col-md-3 pt-3">
              <button
                type="button"
                (click)="getPlStatement()"
                class="btn btn-pink rounded-pill mt-4"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                Search
              </button>
            </div>
          </div>
        </div>
        <!--your code will come here end-->
      </div>
    </div>
  </section>
  <div class="row mt-5">
    <div class="col-md-12 tablescroll">
      <div *ngIf="plStatement.length == 0" class="border text-center p-5">
        <h4>No data found</h4>
      </div>
      <table class="table tableall" *ngIf="plStatement.length > 0">
        <thead>
          <tr>
            <th scope="col" class="text-dark">Date</th>
            <th scope="col" class="text-dark">Game</th>
            <th scope="col" class="text-dark">Sub Game</th>
            <th scope="col" class="text-dark">Event</th>
            <th scope="col" class="text-dark">Win</th>
            <th scope="col" class="text-dark">Commission</th>
            <th scope="col" class="text-dark">Net Amount</th>
            <th scope="col" class="text-dark">U/L Commission</th>
            <th scope="col" class="text-dark">D/L Commission</th>
            <th scope="col" class="text-dark">User Count</th>
            <th scope="col" class="text-dark">Bet Count</th>
            <th scope="col" class="text-dark"></th>
            <th scope="col" class="text-dark"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pl of plStatement">
            <td>{{ pl.createdAt | date : "medium" }}</td>
            <td>{{ pl.gameName }}</td>
            <td>{{ pl.subGame }}</td>
            <td>{{ pl.eventName }}</td>
            <td [ngClass]="pl.isWon ? 'text-success' : 'text-danger'">
              {{ pl.winINR | number }}
            </td>
            <td>{{ pl.commission | number }}</td>
            <td>{{ pl.netAmount | number }}</td>
            <td>0</td>
            <td>0</td>
            <td>{{ pl.userCount }}</td>
            <td>{{ pl.userBetCount }}</td>
            <td>
              <button
                class="btn btn-pink rounded-pill w-100 mt-4"
                (click)="getPlStatement()"
              >
                Market
              </button>
            </td>
            <td>
              <button
                class="btn btn-pink rounded-pill w-100 mt-4"
                (click)="getPlStatement()"
              >
                User
              </button>
            </td>
            <td [ngClass]="pl.type ? 'text-success' : 'text-danger'">
              {{ pl.profitLiability }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr />
    <div class="col-md-12">
      <a class="btn bg-dgrey rounded-pill text-white">First</a>
      <a class="btn bg-dgrey rounded-pill text-white">Previous</a>
      <a class="btn bg-pink rounded-pill text-white ps-4 pe-4">1</a>
      <a class="btn bg-dgrey rounded-pill text-white">Next</a>
      <a class="btn bg-dgrey rounded-pill text-white">Last</a>
    </div>
  </div>
</main>
