<main id="main" class="main">
  <section class="section gamedetails">
    <div class="row" [formGroup]="filterForm">

        <h3 class="text-pink">Turn Over</h3>
        <div class="col-md-4">
            <p>From Date</p>
            <input type="date" data-date-format="dd/mm/yyyy" formControlName="fromDate" name="fromDate" class="form-control browncolor bg-light" id="" placeholder="Month">
          </div>
          <div class="col-md-4">
            <p>To Date</p>
            <input type="date" data-date-format="dd/mm/yyyy" formControlName="toDate" name="toDate" class="form-control browncolor bg-light" id="" placeholder="Month">
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4 btnmargin">
            <p>Sub Games</p>
            <select formControlName="subGame" name="subGame" id="ab" class="form-select bg-dgrey">
              <option value="All">All </option>
              <option value="Cricket">Live Casino</option>
              <option value="Card Game">Card Game</option>
              <option value="Sport Book">Sport Book</option>
              <option value="Premium Sport Book">Premium Sport Book</option>
              <option value="Racing">Racing</option>
            </select>
          </div>
          <div class="col-md-2 btnmarginauto pt-3">
            <button type="button" class="btn btn-pink rounded-pill mt-4" (click)="getTurnOver()">
           Search</button>

          </div>
        <!--your code will come here end-->

    </div>
  </section>
  <div class="col-md-12 mt-3">
    <div class="col-md-12 mt-3">
      <div *ngIf="plStatement.length==0" class="border text-center p-5">
      <h4>No data found </h4>
    </div>
    <table class="table tableall" *ngIf="plStatement.length>0">
      <thead>
        <tr>
          <th scope="col" class="text-dark">#</th>
          <th scope="col" class="text-dark">Event</th>
          <th scope="col" class="text-dark">Date</th>
          <th scope="col" class="text-dark">Detail</th>
          <th scope="col" class="text-dark">Bet Detail</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let pl of plStatement;let i=index">
          <td>{{i+1}}</td>
          <td>{{pl.matchName}}</td>
          <td>{{pl.matchTime | date:'medium'}}</td>
          <td><a (click)="getTOForMatch(pl.matchId)"><i class="fa-sharp fa-solid fa-eye text-pink"></i></a></td>
          <td><a (click)="getTOForMatch(pl.matchId)"><i class="fa-sharp fa-solid fa-eye text-pink"></i></a></td>
        </tr>
      </tbody>
      </table>
  </div>
  </div>
</main>
