<main id="main" class="main">
  <section class="section dashboard">
    <div class="row">
      <div class="col">
        <!-- <label for="">From Date</label> -->
        <input  type="text" placeholder="{{currentDate | date:'dd/MM/yyyy'}}" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" class="form-control" name="fromDate" id="">
      </div>
      <div class="col">
        <!-- <label for="">To Date</label> -->
        <input  type="text" placeholder="{{currentDate | date:'dd/MM/yyyy'}}" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" class="form-control" name="toDate" id="">
      </div>
      <div class="col">
        <button class="btn btn-pink text-dark btn-lg" (click)="getTransferStatement()">Search</button>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <h3>List of Transactions</h3>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <table class="table tableall">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">#Creation Date</th>
              <th scope="col">From User</th>
              <th scope="col">To User</th>
              <th scope="col">Amount</th>
              <th scope="col">Transaction Type</th>
              <th scope="col">Comments</th>
              <th scope="col">IP</th>
            </tr>
          </thead>
          <tbody>
            <!-- <h4 class="text-center" *ngIf="transferStatements.length==0 && !this.isLoading">No users Found</h4> -->
            <tr *ngFor="let user of transferStatements;let i=index">
              <td>{{i+1}}</td>
              <td>{{user.createdDate | date:'medium'}}</td>
              <td>{{user.fromUsername }}</td>
              <td>{{user.toUsername }}</td>
              <td [ngClass]="user.isGiven?'text-danger':'text-success'">{{user.amount | number }}</td>
              <td>{{user.isGiven?'Given':'Taken'}}</td>
              <td></td>
              <td>145:123:33:65</td>
            </tr>
          </tbody>
        </table>
        <a href="" class="btn bg-dgrey rounded-pill text-white">First</a>
        <a href="" class="btn btn-pink rounded-pill text-white">Previous</a>
        <a href="" class="btn bg-dgrey rounded-pill text-white ps-4 pe-4">1</a>
        <a href="" class="btn bg-dgrey rounded-pill text-white">Next</a>
        <a href="" class="btn bg-dgrey rounded-pill text-white">Last</a>

      </div>
    </div>
  </section>
</main>
