<main id="main" class="main">
  <section class="section gamedetails mb-3">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <h4>
              <a routerLink="/book-management/net-exposure"
                ><i class="fa fa-1x fa-circle-chevron-left"></i
              ></a>
              {{ matchName }}
            </h4>
          </div>
          <div class="col-md-6 text-end">
            <p>
              <a href="" class="text-decoration-none text-white">
                <input
                  type="radio"
                  checked=""
                  class="radioselected"
                  id="html"
                  name="fav_language"
                  value="HTML"
                /><span class="rounded-pill p-2 m-2">My PT</span>
              </a>
              <a href="" class="text-decoration-none text-white">
                <input
                  type="radio"
                  checked=""
                  class="radioselected"
                  id="html"
                  name="fav_language"
                  value="HTML"
                /><span class="rounded-pill p-2 m-2">Total Book</span>
              </a>
            </p>
          </div>
        </div>
        <!--<div class="row">
          <div class="col-md-12">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item bg-transparent border-0 p-3">
                <h2 class="accordion-header" id="headingOne">
                  <a class="w-100" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <div
                    class="row"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    <div class="col-md-6">
                      <p>
                        <i class="fa fa-minus"></i>
                        <i class="fa fa-plus"></i> Match Odds
                      </p>
                    </div>

                  </div>
                   </a>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-md-6">
                        <table class="table tablematchodds bg-white">
                          <tbody>
                            <tr>
                              <td class="text-start ps-2 heading border-top">
                                <a href=""
                                  >England Women <br />
                                  <span class="text-success">Rs. 0</span></a
                                >
                              </td>
                              <td class="colblue light">
                                <a href=""><strong>1.78</strong> <br />160</a>
                              </td>
                              <td class="colpink light">
                                <a href=""><strong>1.78</strong> <br />160</a>
                              </td>
                              <td class="colgray">-</td>
                              <td class="colgray">-</td>
                              <td class="colblue">
                                <a href=""><strong>1.78</strong> <br />160</a>
                              </td>
                              <td class="colpink">
                                <a href=""><strong>1.78</strong> <br />160</a>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-start ps-2 heading border-top">
                                <a href=""
                                  >England <br />
                                  <span class="text-success">Rs. 0</span></a
                                >
                              </td>
                              <td class="colblue">
                                <a href=""><strong>1.78</strong> <br />160</a>
                              </td>
                              <td class="colpink">
                                <a href=""><strong>1.78</strong> <br />160</a>
                              </td>
                              <td class="colgray">-</td>
                              <td class="colgray">-</td>
                              <td class="colblue">
                                <a href=""><strong>1.78</strong> <br />160</a>
                              </td>
                              <td class="colpink">
                                <a href=""><strong>1.78</strong> <br />160</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-md-6">
                        <table class="table tablematchodds bg-white">
                          <tbody>
                            <tr>
                              <td width="20%"></td>
                              <td width="20%"></td>
                              <td width="15%">Net Exposure</td>
                              <td width="15%">Bangladesh</td>
                              <td width="20%">England</td>
                            </tr>
                            <tr>
                              <td class="border-top">vkm25</td>
                              <td class="border-top">
                                <img
                                  src="../../../../../../assets/images/net_expo.png"
                                  width="12"
                                />
                              </td>
                              <td class="text-success border-top">Rs. 0</td>
                              <td class="text-success border-top">Rs. 0</td>
                              <td class="text-success border-top">Rs. 0</td>
                            </tr>
                            <tr>
                              <td colspan="5" align="center">
                                <table class="table border-top">
                                  <tr>
                                    <td width="20%" class="border-top text-end">
                                      1
                                    </td>
                                    <td width="20%" class="border-top"></td>
                                    <td
                                      width="15%"
                                      class="text-success border-top text-danger"
                                    >
                                      2
                                    </td>
                                    <td
                                      width="15%"
                                      class="text-success border-top text-danger"
                                    >
                                      3
                                    </td>
                                    <td
                                      width="20%"
                                      class="text-success border-top text-danger"
                                    >
                                      4
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </section>

  <section class="section gamedetails mt-3 mb-3">
    <input
      type="text"
      class="form-control bg-dark text-white border-start-0 border-pink radius-right-tb"
      placeholder="Search Member Name"
      aria-label="Search"
      aria-describedby="addon-wrapping"
      [(ngModel)]="searchTerm"
      (ngModelChange)="search()"
    />
    <div class="col-md-12 text-end">Bet Count : {{ viewTotal.length }}</div>
<div class="col-md-12 overflow-auto">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col" class="first">#</th>
        <th scope="col">Member</th>
        <th scope="col">Place time</th>
        <th scope="col">Events</th>
        <th scope="col">Market</th>
        <th scope="col">Selection</th>
        <th scope="col">Odds Placed</th>
        <th scope="col">Odds Matched</th>
        <th scope="col">Matched</th>
        <th scope="col">Unmatched</th>
        <th scope="col" class="last">IP</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let viewTotalEach of viewTotal; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ viewTotalEach.userName }}</td>
        <td>{{ viewTotalEach.placedDate }}</td>
        <td>{{ viewTotalEach.event }}</td>
        <td>
          <span
            class="border border-2 bg-danger text-danger border-danger me-2"
          >
          </span>
          {{ viewTotalEach.marketName }}
        </td>
        <td>{{ viewTotalEach.selectionName }}</td>
        <td>{{ viewTotalEach.betRate }}</td>
        <td>20{{ viewTotalEach.betRate }}</td>
        <td>
          <ng-container *ngIf="viewTotalEach.isMatched; else notMatched">
            {{ viewTotalEach.stake }}
          </ng-container>
          <ng-template #notMatched> -- </ng-template>
        </td>
        <td class="text-danger">
          <ng-container *ngIf="!viewTotalEach.isMatched; else notMatched">
            {{ viewTotalEach.stake }}
          </ng-container>
          <ng-template #notMatched> -- </ng-template>
        </td>
        <td>
          <i
            class="fa fa-info-circle"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          ></i>
          {{ viewTotalEach.IP }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

  </section>


  <div *ngIf="viewTotal.length == 0" class="border text-center p-5">
    <h4 *ngIf="viewTotal.length == 0 && !isLoading">No data found</h4>
    <h4 *ngIf="isLoading">Loading...</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="viewTotal.length > 0 && !this.isLoading">
        <button
          class="btn bg-dgrey rounded-pill text-white"
          [disabled]="currentPage === 1"
          (click)="prev()"
        >
          Prev
        </button>
        <span class="btn btn-pink rounded-pill text-dark ps-4 pe-4"
          >{{ currentPage}} / {{totalPages }}
        </span>
        <button
          class="btn bg-dgrey rounded-pill text-white"
          [disabled]="currentPage === totalPages"
          (click)="next()"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</main>
