<main id="main" class="main">
  <section class="section dashboard">
    <div class="row">
      <div class="col-md-6 col-12 mb-3">
        <div class="row text-white">
          <div class="input-group flex-nowrap">
            <span
              class="input-group-text bg-dark text-white border-pink radius-left-tb"
              id="addon-wrapping"
            >
              <i class="fa fa-search"></i>
            </span>
            <input
              type="text"
              class="form-control bg-dark text-white border-start-0 border-pink radius-right-tb"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="addon-wrapping"
              [(ngModel)]="searchTerm"
              (ngModelChange)="search()"
            />
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <button
          routerLink="/member/create-member"
          class="btn btn-pink radius-all text-dark"
        >
          <i class="fa fa-pen"></i> Create New
        </button>
      </div>
      <div class="col-md-2">
        <button
          *ngIf="selectedUserForAdjustment.length > 0"
          (click)="adjustWinnings()"
          type="button"
          class="btn btn-pink radius-all"
        >
          <i class="fa fa-pen"></i> Bulk Transfer
        </button>
      </div>
      <div class="col-md-2 text-end">( Total : {{ userList.length }} )</div>
    </div>
    <div class="row">
      <!-- nav tab -->
      <ul
        class="nav nav-pills ps-3 mt-3 p-1 memberslist"
        id="pills-tab"
        role="tablist"
      >
        <li
          class="nav-item mr-5"
          role="presentation"
          *ngFor="let role of roles"
        >
          <button
            class="nav-link"
            [ngClass]="selectedRoleId == role.roleId ? 'active' : ''"
            id="pills-activity-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-activity"
            type="button"
            role="tab"
            aria-controls="pills-activity"
            (click)="fetchListByCategory(role)"
            aria-selected="true"
          >
            {{ role.userRoleName }}
          </button>
        </li>
      </ul>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div *ngIf="userList.length == 0" class="border text-center p-5">
          <h4 *ngIf="userList.length == 0 && !isLoading">No data found</h4>
          <h4 *ngIf="isLoading">Loading...</h4>
        </div>
        <table
          #myTable
          class="table tableall"
          *ngIf="userList.length > 0 && !this.isLoading"
        >
          <thead>
            <tr>
              <th scope="col" class="first">
                <input type="checkbox" />
              </th>
              <th scope="col" class="text-dark">
                <i class="fa-sharp fa-regular fa-address-card"></i>
              </th>
              <th scope="col" class="text-dark">UserName</th>
              <th scope="col" class="text-dark text-center">Credit Limit</th>
              <th scope="col" class="text-dark text-center">Net Exposure</th>
              <th scope="col" class="text-dark text-center">Take</th>
              <th scope="col" class="text-dark text-center">Give</th>
              <th scope="col" class="text-dark text-center">Available Credit</th>
              <!-- <th scope="col" class="text-dark">
                <i class="fa-sharp fa-regular fa-square-check"></i> Status
              </th> -->
              <!-- <th scope="col" class="text-dark">Info</th> -->
              <th scope="col" class="text-dark text-center">Details</th>
              <th scope="col" class="text-dark text-center">Status</th>
              <th scope="col" class="text-dark text-center">Change password</th>
              <th scope="col" class="last text-dark text-center">Action</th>

            </tr>
          </thead>
          <tbody>
            <h1
              class="text-center"
              *ngIf="userList.length == 0 && !this.isLoading"
            >
              No users Found
            </h1>
            <tr *ngFor="let user of userList; let i = index">
              <td>
                <input
                  type="checkbox"
                  (change)="checkUserForAdjustment(user.userId)"
                  *ngIf="user.take > 0 || user.give > 0"
                />
              </td>
              <td>{{ i + 1 }}</td>
              <td>{{ user.username }}</td>
              <td  class="text-center ">{{ user.creditLimit | number }}</td>
              <td class="text-center " [ngClass]="user.exposure > 0 ? 'text-danger' : ''">
                {{ user.exposure | number }}
              </td>
              <td [ngClass]="user.take > 0 ? 'text-success' : ''"  class="text-center ">
                {{ user.take | number }}
              </td>
              <td  [ngClass]="user.give > 0 ? 'text-danger' : ''"  class="text-center ">
                {{ user.give | number }}
              </td>
              <td  class="text-center">{{ user.availableCredit | number }}</td>
              <!-- <td> -->
                <!-- <button
                  *ngIf="user.isActive"
                  class="btn btn-success rounded-pill btn-sm ps-3 pe-3"
                  type="button"
                >
                  Active
                </button> -->
                <!-- <button
                  *ngIf="!user.isActive"
                  class="btn btn-danger rounded-pill btn-sm ps-3 pe-3"
                  type="button"
                >
                  InActive
                </button> -->
              <!-- </td> -->
              <!-- <td>
                <div class="tooltipnk">
                  <i
                    class="fa-sharp fa-solid fa-info text-pink"
                    (click)="showContent(this, user.userId)"
                  ></i>
                  <div
                    class="tooltiptext row"
                    *ngIf="selectedIndex == user.userId"
                  >
                    <div class="col-md-12 pb-2">Player-INR</div>
                    <div class="col-md-8 pb-2">
                      <span>Live Casino </span>
                    </div>
                    <div class="col-md-4 text-end">
                      <span>{{ liveCasinoRate }}</span>
                    </div>
                    <div class="col-md-8 pb-2">
                      <span>Sportsbook</span>
                    </div>
                    <div class="col-md-4 text-end">
                      <span>{{ sportsBook }}</span>
                    </div>
                    <div class="col-md-8 pb-2">
                      <span>Club Casino</span>
                    </div>
                    <div class="col-md-4 text-end">
                      <span>{{ clubCasino }}</span>
                    </div>
                  </div>
                </div>
              </td> -->
              <td class=" text-center">
                <a (click)="navigateToDownline(user)">
                  <i class="fa-sharp fa-solid fa-eye text-pink"></i>
                </a>
              </td>

              <td class="text-center">
                <!-- <a (click)="openModal(user.userId)">
                  <i class="fa fa-lock text-pink"></i>
                </a> -->

                <select
                      class="custom-select select-table-dropdown form-control select_group text-center" 
                      (change)="changeStatus($event)"
                    >
                      <option
                        *ngFor="let item of statusList"
                        [value]="item.id"
                        [selected]="item.status == user.isActive"
                      >
                        <div
                            [ngClass]="item.status == 'Active' ? 'green'
                              : item.status == 'Inactive'
                              ? 'yellow'
                              : 'red'
                          ">
                            {{ item.status }}
                        </div>
                      </option>
                    </select>


                    <!-- <input type="radio" [checked]="user.isActive" id="html" name="fav_language" value="item.status">
                    <label for="html">Active</label><br>
                    <input type="radio" id="css" [checked]="user.isActive" name="fav_language" value="item.status">
                    <label for="css">Inactive</label><br>
                    <input type="radio" [checked]="user.isActive" id="javascript" name="fav_language" value="item.status">
                    <label for="javascript">Closed</label> -->
              </td>
              <td class="text-center">
                <a>
                  <i class="fa-sharp fa fa-lock text-pink"></i>
                </a>
              </td>
              <td class="text-center">
                <a routerLink="/member/edit-member/{{ user.userId }}">
                  <i class="fa-sharp fa-solid fa-pen text-pink"></i>
                </a>
              </td>

            </tr>
          </tbody>
        </table>

        <div *ngIf="userList.length > 0 && !this.isLoading">
          <button
            class="btn bg-dgrey rounded-pill text-white"
            [disabled]="currentPage === 1"
            (click)="prev()"
          >
            Prev
          </button>
          <span class="btn btn-pink rounded-pill text-dark ps-4 pe-4"
            >{{ currentPage / totalPages }}
          </span>
          <button
            class="btn bg-dgrey rounded-pill text-white"
            [disabled]="currentPage === totalPages"
            (click)="next()"
          >
            Next
          </button>
        </div>

        <!--
        <button [disabled]="currentPage === 1" (click)="prev()">Prev</button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button [disabled]="currentPage === totalPages" (click)="next()">
          Next
        </button> -->
        <!-- <div *ngIf="userList.length > 0 && !this.isLoading">
          <a class="btn bg-dgrey rounded-pill text-white">First</a>
          <a class="btn bg-dgrey rounded-pill text-white">Previous</a>
          <a class="btn btn-pink rounded-pill text-dark ps-4 pe-4">1</a>
          <a class="btn bg-dgrey rounded-pill text-white">Next</a>
          <a class="btn bg-dgrey rounded-pill text-white">Last</a>
        </div> -->
      </div>
    </div>
  </section>
</main>
<!-- Modal start-->
<div
  class="modal"
  [ngStyle]="{ display: display }"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-pink">
        <h5 class="modal-title cassino" id="staticBackdropLabel">
          Lock &nbsp; <i class="fa fa-lock text-pink"></i>
        </h5>
        <button
          type="button"
          (click)="closeModal()"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body bg-dark text-white">
        <div class="row">
          <div class="col-md-3 d-flex" *ngFor="let game of gameStatus">
            <p class="me-2">{{ game.name }}</p>
            <p class="me-2">
              <a href="">
                <i class="fa fa-lock text-pink"></i>
              </a>
            </p>
            <div class="toggle-button-cover">
              <div class="button1 r" id="button-2">
                <input
                  type="checkbox"
                  class="checkbox"
                  name="sportsBookStatus"
                  (click)="updateGameControl(game.isActive, game.sportsId)"
                  [checked]="!game.isActive"
                />
                <div class="knobs"></div>
                <div class="layer"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3 ps-3">
          <h4>Sportswise</h4>
          <div
            class="col-md-4 mt-3 border-pink pt-3 radius-all"
            *ngFor="let event of eventStatus"
          >
            <div class="row">
              <div class="col-md-12 d-flex">
                <p class="me-2">{{ event.sportName }}</p>
                <p class="me-2me-2 flex-fill">
                  <a>
                    <i class="fa fa-lock text-pink"></i>
                  </a>
                </p>
                <div class="toggle-button-cover">
                  <div class="button1 r" id="button-2">
                    <input
                      type="checkbox"
                      (click)="
                        updateGameControl(event.isActive, event.eventsControlId)
                      "
                      [checked]="!event.isActive"
                      class="checkbox"
                    />
                    <div class="knobs"></div>
                    <div class="layer"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->
