<main id="main" class="main">
  <section class="section gamedetails">
    <div class="row">
      <div class="col-md-3">
        <h3 class="text-pink">Bet Settings</h3>
      </div>
      <hr>
      <!-- <div class="col-md-3">
        <button
          type="button"
          class="btn rounded-pill mt-3 text-white border-danger w-100"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <i class="fa fa-user-pen"></i> Member Name
        </button>
      </div> -->
      <!-- <div class="col-md-3">
        <button
          type="button"
          class="btn rounded-pill mt-3 text-white border-danger w-100"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <i class="fa fa-location-dot"></i> Member IP
        </button>
      </div> -->
    </div>
    <form [formGroup]="betSettingForm" (ngSubmit)="onSubmitBetListForm()">
    <div class="row">
      <!-- <div class="col-md-3 mb-3">
        <button class="btn border-pink rounded-pill mt-4 w-100 text-white">
          <i class="fa fa-user-cog"> &nbsp;</i>Clear Members
        </button>
      </div> -->
      <div class="col-md-3 mb-3">
        <label>Select Sport</label>
        <select formControlName="sportsId" id="ab" class="form-select bg-dgrey">
          <option value="0">All</option>
          <option *ngFor="let game of games" [value]="game.sportId">{{game.sportName}}</option>
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <label>Select Match</label>
        <select formControlName="matchId"  id="ab" class="form-select bg-dgrey">
          <option value="0">All</option>
          <option value="match.matchId" *ngFor="let match of matchList">{{match.matchName}}</option>
        </select>
      </div>

      <div class="col-md-3 mb-3">
        <label>From Date</label>
        <input
        formControlName="fromDate"
          type="date"
          class="form-control"
          id=""
          placeholder="Month"
        />
      </div>
      <div class="col-md-3 mb-3">
        <label>To Date</label>
        <input
          type="date"
          formControlName="toDate"
          class="form-control"
          id=""
          placeholder="Month"
        />
      </div>
      <div class="col-md-3 mt-2 mb-4">
        <button
          type="submit"
          class="btn btn-pink rounded-pill w-100"
          (click)="searchList()"
        >
          Search
        </button>
      </div>
    </div>
    </form>
    <div class="row">
      <div class="col-md-12">
        <!-- <div *ngIf="betList.length==0" class="border text-center p-5">
          <h4 *ngIf="betList.length==0 && !isLoading">No data found </h4>
          <h4 *ngIf="isLoading">Loading... </h4>
        </div> -->
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col" class="first">#</th>
              <th scope="col">Member</th>
              <th scope="col">Place time</th>
              <th scope="col">Events</th>
              <th scope="col">Market</th>
              <th scope="col">Selection</th>
              <th scope="col">Odds Placed</th>
              <th scope="col">Odds Matched</th>
              <th scope="col">Matched</th>
              <th scope="col">Unmatched</th>
              <th scope="col" class="last">IP</th>
              <th scope="col" class="last">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bets of allBets"> 
              <td>026agarwal - INR</td>
              <td>{{bets.member}}</td>
              <td>{{bets.placeTime | date }}</td>
              <td>{{bets.event}}</td>
              <td>
                <span *ngIf="!bets.isBack"
                  class="border r-2 bg-danger text-danger border-danger me-2"
                >
                </span>
                <span  *ngIf="bets.isBack"
                class="border border-2 bg-primary text-primary border-primary me-2"
              >
              </span
              >
                {{bets.market}}
              </td>

              <td>{{bets.selection}}</td>
              <td>{{bets.oddsPlaced}}</td>
              <td>{{bets.oddsMatched}}</td>
              <td>{{bets.matched}}</td>
              <td class="text-danger">{{bets.unmatched}}</td>
              <td>
                <i
                  class="fa fa-info-circle"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                ></i>
                {{bets.ip}}
              </td>
              <td>
                <button type="button" class="btn btn-success rounded-pill btn-sm ps-3 pe-3"> Delete </button>
                {{bets.ip}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12 mt-3" >
      <div class="border text-center p-5">
        <h4>No data found</h4>
      </div>
    </div>
  </section>
</main>
