/********** common property start ************/
body {
  font-family: "Roboto", sans-serif;
}

$color_1: #ffa7a3;
$color_2: #fff;
$color_3: #000;
$color_4: #012970;
$background-color_1: #202121;
$background-color_2: #3a3a3a;
$background-color_3: #ffa7a3;
$background-color_4: #d98e94;
$background-color_5: #00cc38;
$background-color_6: #d9520a;
$background-color_7: #fff;
$background-color_8: #aab7cf;
$background-color_9: #d9d9d9;
$border-color_1: #ffa7a3;
$border-color_2: #dc3545;
$border-color_3: #a2a2a2;

$background-color_13: #6abefa;
$background-color_14: #6abefa5e;
$background-color_15: hsla(205.2, 29%, 58%, 0.86);
$background-color_16: #ffb9b5;
$background-color_17: #ffb9b560;
$background-color_18: hsla(3.5, 21.3%, 52.2%, 0.78);
$background-color_19: #d9d9d9;
$background-color_20: #343535;
$background-color_21: #000;
$background-color_22: #d35862;
$background-color_23: #a7d8fd;
$background-color_24: #f9c9d4;
$gradient-btn: linear-gradient(180deg, #d35862 0%, #d98e94 100%);

.browncolor {
  background-color: $background-color_21;
}
.bg-pink {
  background: $color_1 !important;
}
.border-pink {
  border: 1px solid $background-color_22;
}
// .btn {
//   font-size: 12px;
// }
.btn-pink {
  // color: $color_3;
  // background: $background-color_3;
  // border-color: $border-color_1;
  transition: all 0.2s ease-in;
  transform: scale(1);
  border: none;
  color: #fff;
  // padding: 10px 30px;
  border-radius: 25px;
  // font-size: 1rem;
  font-size: 0.75rem;
  background-image: linear-gradient(0deg, #cd212f 0, #e76f26);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn-pink:hover {
  // background: $gradient-btn;
  // color: $color_3;
  transition: all 0.2s ease-in;
  transform: scale(1.01);
}
.w-30 {
  width: 30%;
}
.text-pink {
  color: $background-color_24 !important;
}
.btn-outline-pink {
  color: $color_1;
  border-color: $border-color_1;
  &:hover {
    color: $color_3;
    background-color: $background-color_3;
    border-color: $border-color_1;
  }
}
.radius-right-tb {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.radius-left-tb {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.radius-all {
  border-radius: 15px;
}
.inputbb {
  background-color: $background-color_20;
  border: none;
  border-bottom: 0.5px solid $border-color_3;
  color: $color_2;
  border-radius: 0;
}
.radioselected {
  accent-color: $background-color_22;
}
/********** common property end ************/
/********** Login start ************/
// .logins {
//   background: url(../images/bg.png) no-repeat;
//   background-size: cover;
//   height: 100vh;
// }
.login {
  border: 1px solid rgba(255, 255, 255, 0.3215686275);
  border-radius: 25px;
  padding: 10px 35px;
  background: rgba(108, 108, 108, 0.5098039216);
  margin-top: 30px;
  // border: 1px solid $color_1;
  // padding: 10px;
  // background: rgba(18, 14, 17, 0.88);
  // margin-top: 30px;
  a {
    text-decoration: none;
  }
  .btn {
    font-size: 20px;
    padding: 10px 10px;
  }
  .form-control {
    line-height: 2.5;
    height: 35px;
  }
  .form-control.is-invalid {
    border-color: $border-color_2;
    padding-right: calc(1.5em + 0.75rem);
    background-image: none;
  }
  .was-validated {
    .form-control {
      &:invalid {
        border-color: $border-color_2;
        padding-right: calc(1.5em + 0.75rem);
        background-image: none;
      }
    }
  }
}
.form-signin .form-floating > .form-control,
.form-floating > .form-select {
  background: rgba(60, 62, 62, 0);
  color: $color_2;
  border-bottom: 1px solid $color_2 !important;
  border: 0px;
  border-radius: 0;
  padding: 24px 0px 15px 0px;
  outline: none !important;
}
.form-signin .form-floating > label {
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  color: $color_2;
  padding: 0px 0px 0 12px;
}
.form-signin .form-floating span {
  margin-top: -30px;
  position: absolute;
  right: 13px;
  cursor: pointer;
}
.form-signin .form-floating input:focus {
  border-bottom: 1px solid rgb(255, 167, 163) !important;
  color: $color_1;
  box-shadow: none;
}
/********** Login end ************/
/********** main start ************/
#main {
  padding: 20px 10px;
  transition: all 0.3s;
  color: $color_2;
}
/********** main end ************/
/********** header start ************/
.header {
  transition: all 0.5s;
  z-index: 997;
  height: 200px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  padding: 10px;
  .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: $color_4;
  }
}
.balance {
  background-image: url(../images/balance.png);
  width: 100%;
  height: 158px;
  background-color: $background-color_22;
  border-radius: 10px;
  color: $color_2;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 24px;
    color: $color_2;
    line-height: 26px;
    letter-spacing: 1px;
  }
  span {
    font-size: 16px;
    color: $color_2;
  }
}
.balance-up {
  background-color: $background-color_5;
}
.balance-down {
  background-color: $background-color_6;
}
.user {
  color: $color_2;
}
/********** header end ************/
/********** Sidebar start ************/
.sidebar {
  left: 0;
  // width: 270px;
  width: 100%;
  z-index: 996;
  transition: all 0.3s;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  // letter-spacing: 1px;
  .nav-link {
    color: $color_2;
  }
  &::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: $background-color_7;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $background-color_8;
  }
  li {
    width: 100%;
  }
}
.fixed-sidebar {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  padding: 0 10px;
  top: 0px;
  bottom: auto;
  // height: 700px;
}

/********** Sidebar end ************/
/********** table pro start ************/
.tableall {
  border-radius: 15px;
  color: $color_2;
  th {
    background-color: $background-color_3;
    border: 0px;
    font-weight: 500;
  }
  th.first {
    border-top-left-radius: 15px;
  }
  th.last {
    border-top-right-radius: 15px;
  }
  td {
    vertical-align: middle;
    border-bottom: 1px solid #3c3c3c;
  }
  input {
    cursor: pointer;
  }
}
/********** table pro end ************/
/********** inner page pro start ************/
.gamedetails {
  // border: 1px solid rgba(255, 167, 163, 0.3411764706);
  border: 1px solid $background-color_22;
  border-radius: 15px;
  padding: 15px;
  // background: rgba(60, 62, 62, 0.7215686275);
  background: transparent;
  .form-select {
    appearance: button;
    color: $color_2;
    border: 1px solid #a6a6a657;
    background: $background-color_20;
  }
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  .form-control {
    background: #fff0;
    color: $color_2;
    border: 1px solid #a6a6a657;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}
/********** inner page pro end ************/
/********** Tooltip start ************/
.tooltipnk {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltipnk .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: black;
  color: $color_2;
  // text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  background-image: radial-gradient(rgb(56, 56, 56), rgb(0, 0, 0));
  border: 1px solid #a6a6a6;
}
.tooltipnk:hover .tooltiptext {
  visibility: visible;
}
/********** Tooltip end ************/
/********** Toggle yes no start ************/
.button1 {
  position: relative;
  width: 60px;
  height: 25px;
  overflow: hidden;
  background: $background-color_22;
}

.button1.r,
.button1.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 2 */
#button-2 .knobs:before,
#button-2 .knobs:after {
  position: absolute;
  top: 1px;
  left: 2px;
  width: 25px;
  height: 23px;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  line-height: 0;
  padding: 11px 2px;
  background-color: #f9f9f9;
  color: #000;
  border-radius: 50%;
  transition: 0.3s ease all;
}

#button-2 .knobs:before {
  content: "On";
}

#button-2 .knobs:after {
  content: "Off";
}

#button-2 .knobs:after {
  right: -28px;
  left: auto;
  background-color: #f9f9f9;
  color: #000;
}

#button-2 .checkbox:checked + .knobs:before {
  left: -28px;
}

#button-2 .checkbox:checked + .knobs:after {
  right: 3px;
}

#button-2 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}
/********** Toggle yes no end ************/
.tablematchodds {
  background-color: $background-color_2;
  // border-radius: 15px;
  vertical-align: middle;
  margin-bottom: 25px;
  td {
    vertical-align: middle;
    padding: 2px 5px;
    text-align: center;
    border-top: 2px solid $color_2;
    font-size: 11px;
    line-height: 13px;
  }
  a {
    color: $color_3;
    text-decoration: none;
    display: block;
    font-size: 12px;
    line-height: 13px;
  }
  span {
    font-size: 10px;
  }
  th {
    border-color: $border-color_1;
    border-style: none;
    border-width: 0;
    font-size: 11px;
    height: 50px;
    vertical-align: middle;
  }
  .heading {
    font-size: 10px;
    line-height: 12px;
  }

  thead {
    border-color: $border-color_1;
    border-style: none;
    border-width: 0;
  }
  tr {
    border-color: $background-color_9;
    border-style: none;
    border-width: 0;
  }
  .table {
    .tfirstcol {
      border-top-left-radius: 15px;
      background: $color_1;
    }
  }
  .tlastcol {
    border-top-right-radius: 15px;
    background: $color_1;
  }
  .coldark {
    background: #272727 !important;
    color: $color_1;
  }
  //color box start
  .colblue {
    background-color: $background-color_13 !important;
    border-left: 1px solid $color_2;
  }
  .colblue.light {
    background-color: $background-color_23 !important;
  }
  .colblue.dis {
    background-color: $background-color_15 !important;
  }
  .colpink {
    background-color: $background-color_16 !important;
    border-left: 1px solid $color_2;
  }
  .colpink.light {
    background-color: $background-color_17 !important;
  }
  .colpink.dis {
    background-color: $background-color_18 !important;
    font-size: 11px;
    line-height: 13px;
  }
  .colgray {
    background-color: $background-color_19 !important;
    border-left: 1px solid $color_2;
  }
  .colpink.last {
    border-bottom-right-radius: 15px;
    border-right: 0px;
  }
  .colblue,
  .colblue.light,
  .colblue.dis,
  .colpink,
  .colpink.light,
  .colpink.dis,
  .colgray,
  .colpink.last {
    min-width: 45px;
    height: 40px;
  }
}
.accordion p {
  font-size: 15px;
}
.ipdetail .dbg {
  background: #000;
}
.ipdetail p {
  margin: 0;
  line-height: 25px;
  font-size: 12px;
}

.imganalytics {
  background-image: url(../images/blank.png);
  width: 255px;
  height: 90px;
  background-repeat: no-repeat;
}
.google-playimg {
  height: 35px;
  width: auto;
}
.analyticsimg1 {
  width: 255px;
  height: 90px;
  background-repeat: no-repeat;
  background-image: url(../images/img1new.png);
}
.analyticsimg2 {
  width: 255px;
  height: 90px;
  background-repeat: no-repeat;
  background-image: url(../images/img1new.png);
}
.analyticsimg1 h3 {
  margin-top: 0px;
  font-size: 25px;
  color: burlywood;
}
.analyticsimg2 h3 {
  margin-top: 0px;
  font-size: 25px;
  color: burlywood;
}
.memberslist {
  li {
    border: 1px solid;
    border-radius: 5px;
    margin-right: 10px;
  }
  .nav-link.active {
    color: $color_3;
  }
}

.changepassword {
  width: 50%;
}
.pointer {
  cursor: pointer;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #b44b5d;
}

.bg-dark_new {
  background-color: $background-color_21;
}

.bg-dark {
  // background-color: #212529 !important;
  background-color: $background-color_21 !important;
}

.radius-left-tb {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.icon-pink {
  color: $background-color_22 !important;
}
