<main id="main" class="main m-0">
  <section class="section gamedetails">
    <div class="row">
      <div class="col-md-12">
        <!--your code will come here start-->
        <h4 class="text-pink">Net Exposure</h4>
        <div class="row" [formGroup]="filterForm">
          <div class="col-md-8 col-12 net_exposure">
            <div class="row">
              <div class="col-md-4">
                <a class="text-decoration-none text-white">
                  <input
                    type="radio"
                    (click)="
                      onFilterChange({ clicked: 'type', selectedType: 'MyPT' })
                    "
                    formControlName="selectedType"
                    class="radioselected pointer"
                    id="html"
                    name="selectedType"
                    value="MyPT"
                  /><span class="rounded-pill p-2">My PT</span>
                </a>
                <a class="text-decoration-none text-white">
                  <input
                    value="totalBook"
                    (click)="
                      onFilterChange({
                        clicked: 'type',
                        selectedType: 'TotalBook'
                      })
                    "
                    formControlName="selectedType"
                    type="radio"
                    id="html"
                    checked
                    name="selectedType"
                    value="TotalBook"
                    class="pointer radioselected"
                  /><span class="rounded-pill p-2">Total Book</span>
                </a>
              </div>

              <div class="col-md-8 my-3 my-md-0">
                <div class="row">
                  <div class="col-md-12">
                    <span class="pt-2 me-3"
                      ><strong>Filter by Sport :</strong></span
                    >
                    <a class="text-decoration-none text-white">
                      <input
                        (click)="
                          onFilterChange({
                            clicked: 'sport',
                            sportId: null,
                            refreshCallVar: false
                          })
                        "
                        type="radio"
                        checked="true"
                        class="radioselected pointerr"
                        id="html"
                        name="sport"
                        value="All"
                      /><span class="rounded-pill p-2">All</span>
                    </a>
                    <a
                      *ngFor="let game of games"
                      class="text-decoration-none text-white"
                    >
                      <input
                        (click)="
                          onFilterChange({
                            clicked: 'sport',
                            sportId: game.sportId,
                            refreshCallVar: false
                          })
                        "
                        type="radio"
                        class="radioselected pointer"
                        id="html"
                        name="sport"
                        [value]="game.sportId"
                      /><span class="rounded-pill p-2">{{
                        game.sportName
                      }}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6 col-6 pointer">
                <select
                  name="matchId"
                  formControlName="matchId"
                  id="ab"
                  class="form-select pointer p-0"
                  (change)="onFilterChangeDropDown($event)"
                  data-clicked="match"
                >
                  <option value="null" class="pointer">All</option>
                  <option
                    class="pointer"
                    value="{{ match.matchId }}"
                    *ngFor="let match of matchList"
                  >
                    {{ match.matchName }}
                  </option>
                </select>
              </div>
              <div class="col-md-6 col-6 text-end">
                {{ refreshCount }} &nbsp;
                <button
                  class="btn btn-pink rounded-pill"
                  (click)="refreshCall()"
                >
                  <i class="fa fa-redo-alt disnone"></i> Refresh
                </button>
              </div>
            </div>
          </div>

          <div class="col-md-12 mt-3" *ngIf="booksForBackend.length == 0">
            <div class="border text-center p-5">
              <h4 *ngIf="isLoading">Loading...</h4>
              <h4 *ngIf="booksForBackend.length == 0 && !isLoading">
                No data found
              </h4>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="netExposure table-responsive">
              <table class="table text-white border-0">
                <thead>
                  <tr>
                    <th class="py-0">
                      <table class="text-white table border-0 m-0">
                        <thead *ngIf="bookObj.length != 0">
                          <tr>
                            <th class="py-0"></th>
                            <th class="py-0"></th>
                            <th class="py-0">Stake</th>
                            <th class="py-0">1</th>
                            <th class="py-0">X</th>
                            <th class="py-0">2</th>
                          </tr>
                        </thead>
                      </table>
                    </th>
                    <th class="py-0">
                      <table class="text-white table border-0 m-0">
                        <thead *ngIf="bookObj.length != 0">
                          <tr>
                            <th class="py-0"></th>
                            <th class="py-0"></th>
                            <th class="py-0">Stake</th>
                            <th class="py-0">Win</th>
                            <th class="py-0">Lose</th>
                          </tr>
                        </thead>
                      </table>
                    </th>
                  </tr>
                </thead>
                <tbody *ngFor="let book of bookObj">
                  <tr class="bg-pink">
                    <td colspan="11" class="p-0">
                      <tr>
                        <table class="table border-0 m-0 text-white">
                          <tbody>
                            <tr>
                              <td class="py-0" style="width: 15rem">
                                {{ book.matchName }}
                              </td>
                              <td class="py-0" style="width: 5rem">
                                <button
                                  class="btn-warning rounded-pill"
                                  (click)="getViewTotal(book)"
                                >
                                  View total
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </tr>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table class="text-white table border-0 m-0">
                        <tbody>
                          <tr *ngFor="let market of book.leftMarkets">
                            <td>{{ market.marketName }}</td>
                            <td>
                              <a
                                (click)="redirectUrlByMarket([market])"
                                class="pointer"
                              >
                                <img
                                  src="assets/images/net_exposure.png"
                                  width="22px"
                                  alt=""
                              /></a>
                            </td>
                            <td class="bg-white">
                              {{ market.totalStakes | number : "1.0-0" }}
                            </td>
                            <td
                              class="bg-white"
                              [ngClass]="
                                market.horses[0]?.finalAmount > 0
                                  ? 'text-success'
                                  : 'text-danger'
                              "
                            >
                              {{
                                market.horses[0]?.finalAmount | number : "1.0-0"
                              }}
                            </td>
                            <td
                              class="bg-white"
                              [ngClass]="
                                market.horses[2]?.finalAmount > 0
                                  ? 'text-success'
                                  : 'text-danger'
                              "
                            >
                              {{
                                market.horses[2]?.finalAmount | number : "1.0-0"
                              }}
                            </td>
                            <td
                              class="bg-white"
                              [ngClass]="
                                market.horses[1]?.finalAmount > 0
                                  ? 'text-success'
                                  : 'text-danger'
                              "
                            >
                              {{
                                market.horses[1]?.finalAmount | number : "1.0-0"
                              }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td>
                      <table class="text-white table border-0 m-0">
                        <tbody>
                          <tr *ngFor="let market of book.rightMarkets">
                            <td>{{ market.marketName }}</td>
                            <td>
                              <a
                                (click)="redirectUrlByMarket([market])"
                                class="pointer"
                              >
                                <img
                                  src="assets/images/net_exposure.png"
                                  width="22px"
                                  alt=""
                              /></a>
                            </td>
                            <td class="bg-white">
                              <span>
                                {{
                                  market.totalStakes | number : "1.0-0"
                                }}</span
                              >
                            </td>
                            <td
                              class="bg-white"
                              [ngClass]="
                                market.maxWin >= 0
                                  ? 'text-success'
                                  : 'text-danger'
                              "
                            >
                              <span>
                                {{ market.maxWin | number : "1.0-0" }}</span
                              >
                            </td>
                            <td class="bg-white">
                              <span>
                                {{
                                  market.netExposure | number : "1.0-0"
                                }}</span
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
