<main id="main" class="main">
  <section class="section gamedetails">
    <div class="row">
      <div class="col-md-12">
        <!--your code will come here start-->
        <h4 class="text-pink">Net Exposure</h4>
        <div class="row" [formGroup]="filterForm">
          <div class="col-md-8 mt-2">
            <a class="text-decoration-none text-white">
              <input
                type="radio"
                (click)="
                  onFilterChange({ clicked: 'type', selectedType: 'MyPt' })
                "
                formControlName="selectedType"
                checked="true"
                class="radioselected pointer"
                id="html"
                name="selectedType"
                value="MyPT"
              /><span class="rounded-pill p-2 m-2">My PT</span>
            </a>
            <a class="text-decoration-none text-white">
              <input
                value="totalBook"
                (click)="
                  onFilterChange({ clicked: 'type', selectedType: 'TotalBook' })
                "
                formControlName="selectedType"
                type="radio"
                id="html"
                name="selectedType"
                value="TotalBook"
                class="pointer"
              /><span class="rounded-pill p-2 m-2">Total Book</span>
            </a>
            <span class="me-3 pt-2"><strong>Filter by Sport</strong></span>
            <a class="text-decoration-none text-white">
              <input
                (click)="onFilterChange({ clicked: 'sport', sport: null })"
                type="radio"
                checked="true"
                class="radioselected pointerr"
                id="html"
                name="sport"
                value="All"
              /><span class="rounded-pill p-2 m-2">All</span>
            </a>
            <a
              *ngFor="let game of games"
              class="text-decoration-none text-white"
            >
              <input
                (click)="
                  onFilterChange({ clicked: 'sport', sport: game.sportId })
                "
                type="radio"
                class="radioselected pointer"
                id="html"
                name="sport"
                [value]="game.sportId"
              /><span class="rounded-pill p-2 m-2">{{ game.sportName }}</span>
            </a>
          </div>

          <div class="col-md-4 pointer" >
            <select
              name="matchId"
              formControlName="matchId"
              id="ab"
              class="form-select pointer"
              (change)="onFilterChangeDropDown($event)"
              data-clicked="match"
            >
              <option value="null" class="pointer">All</option>
              <option class="pointer"

                value="{{ match.matchId }}"
                *ngFor="let match of matchList"
              >
                {{ match.matchName }}
              </option>
            </select>


          </div>

          <div class="col-md-12 mt-3" *ngIf="booksForBackend.length == 0">
            <div class="border text-center p-5">
              <h4 *ngIf="isLoading">Loading...</h4>
              <h4 *ngIf="booksForBackend.length == 0 && !isLoading">No data found</h4>

            </div>
          </div>
        </div>

        <div class="row">

          <div
            *ngIf="!isLoading && booksForBackend.length > 0"
            class="col-md-12 overflow-auto"
          >
            <table class="table table-striped bg-white mt-3 text-center">
              <tbody *ngFor="let book of booksForBackend">
                <tr>
                  <th width="30%" class="text-start">{{ book.matchName }}</th>
                  <th width="20%">
                    <a
                      (click)="
                        redirectUrl('match', book.matchId, book.matchName)
                      "
                      class="btn btn-warning rounded-pill"
                    >
                      View total</a
                    >
                  </th>
                  <th width="20%">Net Exposure</th>
                  <th width="10%">1</th>
                  <th width="10%">X</th>
                  <th width="10%">2</th>
                  <!--<th width="10%">Fancy</th>
                  <th width="10%" class="last">Fancy Exposure</th>-->
                </tr>
                <tr *ngFor="let data of book.data">
                  <td>
                    <span>{{ data.marketName }}</span>
                  </td>
                  <td>
                    <a
                      (click)="
                        redirectUrl('market', data.marketId, book.matchName)
                      "
                    >
                      <img
                        src="../../../../../assets/images/net_exposure.png"
                        width="22px"
                        alt=""
                    /></a>
                  </td>
                  <td>
                    <a class="btn rounded-pill alert alert-danger pt-2 pb-2 w-100 text-danger">
                      <span [ngClass]="data.netExposure > 0 ? 'text-success' : 'text-danger'">{{ data.netExposure }}</span>
                    </a>
                  </td>
                  <td>
                    <a *ngIf="data.horses[0]?.finalAmount>0" class="btn rounded-pill alert alert-success pt-2 pb-2 w-100">
                      <span class="text-success">
                        {{ data.horses[0]?.finalAmount? data.horses[0]?.finalAmount: 0}}
                      </span>
                    </a>
                    <a *ngIf="data.horses[0]?.finalAmount<0" class="btn rounded-pill alert alert-danger pt-2 pb-2 w-100">
                      <span class="text-danger">
                        {{ data.horses[0]?.finalAmount? data.horses[0]?.finalAmount: 0}}
                      </span>
                    </a>
                    <a *ngIf="data.horses[0]?.finalAmount==0" class="btn rounded-pill alert pt-2 pb-2 w-100">
                      <span>
                        --
                      </span>
                    </a>
                  </td>
                  <td>
                    <ng-container *ngIf="data.horses[2]">
                      <a *ngIf="data.horses[2].finalAmount>0"  class="btn rounded-pill alert alert-success pt-2 pb-2 w-100">
                        <span class="text-success">
                          {{ data.horses[2]?.finalAmount? data.horses[2]?.finalAmount: 0}}
                        </span>
                      </a >
                      <a *ngIf="data.horses[2].finalAmount<0"  class="btn rounded-pill alert alert-danger pt-2 pb-2 w-100">
                        <span class="text-danger">
                          {{ data.horses[2]?.finalAmount? data.horses[2]?.finalAmount: 0}}
                        </span>
                      </a >
                      <a *ngIf="data.horses[2].finalAmount==0"  class="btn rounded-pill alert pt-2 pb-2 w-100">
                        <span>
                          --
                        </span>
                      </a >
                    </ng-container>
                  </td>
                  <td>
                    <a *ngIf="data.horses[1]?.finalAmount<0"  class="btn rounded-pill alert alert-danger pt-2 pb-2 w-100">
                      <span class="text-danger">{{ data.horses[1]?.finalAmount? data.horses[1]?.finalAmount: 0}}</span>
                    </a>

                    <a *ngIf="data.horses[1]?.finalAmount>0" class="btn rounded-pill alert alert-success pt-2 pb-2 w-100">
                      <span class="text-success">{{ data.netExposure }}</span>
                    </a>

                    <a *ngIf="data.horses[1]?.finalAmount==0" class="btn rounded-pill alert pt-2 pb-2 w-100">
                      <span>--</span>
                    </a>
                  </td>

                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
