<main id="main" class="main m-0">
  <section class="section dashboard">
    <div class="row mb-3 align-items-end">
      <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="row text-white">
          <div class="input-group flex-nowrap">
            <span
              class="input-group-text bg-dark text-white border-pink radius-left-tb"
              id="addon-wrapping"
            >
              <i class="fa fa-search"></i>
            </span>
            <input
              type="text"
              class="form-control bg-dark text-white border-start-0 border-pink radius-right-tb"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="addon-wrapping"
              [(ngModel)]="searchTerm"
              (ngModelChange)="search()"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12 overflow-auto">
        <div class="border text-center p-5">
          <h4 *ngIf="userList.length == 0 && !isLoading">No data found</h4>
          <h4 *ngIf="isLoading">Loading...</h4>
        </div>
      </div>
    </div>

  </section>
</main>
