<main id="main" class="main m-0">
  <section class="gamedetails">
    <div class="row pb-2">
      <div class="col-md-12">
        <h4 class="text-pink">
          <img src="assets/images/master_dashboard.png" alt="" />
          Commission Report
        </h4>
        <hr />
        <div class="col-md-12">
          <div class="row align-items-end">
            <div class="col-md-3 mb-3">
              <label>From Date</label>
              <input
                [(ngModel)]="fromDate"
                type="date"
                name="fromDate"
                class="form-control"
                id=""
                placeholder="Month"
              />
            </div>
            <div class="col-md-3 mb-3">
              <label>To Date</label>
              <input
                [(ngModel)]="toDate"
                type="date"
                name="toDate"
                class="form-control"
                id=""
                placeholder="Month"
              />
            </div>
            <div class="col-md-3 mb-3">
              <div class="row align-items-end">
                <label for="text" class="cassino">Select Client</label><br />
                <select
                  [(ngModel)]="clientId"
                  name="clientId"
                  id="clientId"
                  class="form-select pointer"
                >
                  <option [value]="null">--</option>
                  <option
                    [value]="client.userId"
                    *ngFor="let client of playerList"
                  >
                    {{ client.username }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <button
                (click)="searchCommissionReport()"
                class="btn btn-sm btn-success"
              >
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="row mt-3">
    <div class="col-md-12">
      <div
        *ngIf="commissionStatement.length == 0"
        class="border text-center p-5"
      >
        <h4 *ngIf="commissionStatement.length == 0 && !isLoading">
          No data found
        </h4>
        <h4 *ngIf="isLoading">Loading...</h4>
      </div>
      <div class="table-responsive tableRes tableFixHead">
        <table
          class="table tableall"
          *ngIf="commissionStatement.length > 0 && !isLoading"
        >
          <thead>
            <tr>
              <th class="thts first">#</th>
              <th
                scope="col"
                class="pointer text-center"
                (click)="toggleSort('createdAt')"
              >
                Name
              </th>
              <th scope="col" class="pointer"></th>
              <th colspan="3" class="text-center">COMMISION GIVEN</th>
              <th colspan="3" class="text-center">COMMISION RECEIVED</th>
              
              <!-- <th
                scope="col"
                class="pointer text-center"
                (click)="toggleSort('gameName')"
              >
                Fancy Commission (Turnover wise)
              </th>
              <th
                scope="col"
                class="pointer text-center"
                (click)="toggleSort('subGame')"
              >
                Bookmaker (Net Loosing)
              </th>
              <th
                scope="col"
                class="pointer text-center"
                (click)="toggleSort('eventName')"
              >
                Bookmaker (Entrywise Loosing)
              </th> -->
              <!-- <th
                scope="col"
                class="pointer text-center last"
                (click)="toggleSort('eventName')"
              >
                Total Commission
              </th> -->
            </tr>
          </thead>
          <thead class="th2">
            <th></th>
            <th></th>
            <th></th>
            <th class="small text-center">Fancy Comm <br> (Turnover wise)</th>
            <th class="small text-center">Bookmaker<br> (Net Loosing)</th>
            <th class="small text-center">Bookmaker <br>(Entrywise Loosing)</th>
 
            <th class="small text-center" style="border-left: 1px solid #3a3a3a;">Fancy Comm<br>(Turnover wise)</th>
            <th class="small text-center">Bookmaker<br>(Net Loosing)</th>
            <th class="small text-center">Bookmaker<br>(Entrywise Loosing)</th>
            <th></th>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let cs of commissionStatement
                  | sort : sortColumn : sortAscending;
                let i = index
              "
            >
              <td class="tds tdts">
                <span>{{ i + 1 }}</span>
              </td>
              <td>
                <strong>{{ cs.userName }}</strong>
              </td>
              <td>
                <button
                  class="btn btn-success btn-sm"
                  (click)="reset(cs)"
                >
                  Reset
                </button>
              </td>
 
              <td class="text-center">
                <strong>{{
                  cs.totalFancyTurnOverCommission | indianCurrency
                }}</strong>
              </td>
              <td class="text-center">
                <strong>{{
                  cs.totalBookmakerNetLoosingCommission | indianCurrency
                }}</strong>
              </td>
              <td class="text-center">
                <strong>{{
                  cs.totalBookmakerEntrywiseLoosingCommission | indianCurrency
                }}</strong>
              </td>
 
              <td class="text-center" style="border-left: 1px solid #3a3a3a;">
                <strong>{{
                  cs.totalFancyTurnOverCommissionReceived | indianCurrency
                }}</strong>
              </td>
              <td class="text-center">
                <strong>{{
                  cs.totalBookmakerNetLoosingCommissionReceived | indianCurrency
                }}</strong>
              </td>
              <td class="text-center">
                <strong>{{
                  cs.totalBookmakerEntrywiseLoosingCommissionReceived | indianCurrency
                }}</strong>
              </td>
 
              <!-- <td class="text-center">
                <strong>{{ cs.rowTotal | indianCurrency }}</strong>
              </td> -->
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center">
                <strong>{{
                  totalFancyCommissionAmount | indianCurrency
                }}</strong>
              </td>
              <td class="text-center">
                <strong>{{
                  totalBookmakerNetLoosingAmount | indianCurrency
                }}</strong>
              </td>
              <td class="text-center">
                <strong>{{
                  totalBookmakerEntrywiseLoosing | indianCurrency
                }}</strong>
              </td>
 
              <!-- Given -->
 
              <td class="text-center">
                <strong>{{
                  totalFancyTurnOverCommissionReceived | indianCurrency
                }}</strong>
              </td>
              <td class="text-center">
                <strong>{{
                  totalBookmakerNetLoosingCommissionReceived | indianCurrency
                }}</strong>
              </td>
              <td class="text-center">
                <strong>{{
                  totalBookmakerEntrywiseLoosingCommissionReceived | indianCurrency
                }}</strong>
              </td>
 
              <!-- <td class="text-center">
                <strong>{{ totalColumSum | indianCurrency }}</strong>
              </td> -->
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</main>
 


<div
  *ngIf="modalNumber == 1"
  class="modal"
  [ngStyle]="{ display: display }"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-pink">
        <h5 class="modal-title cassino" id="staticBackdropLabel">
          Commission
        </h5>
        <button
          type="button"
          (click)="closeModal()"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body bg-dark_new text-white">
        <div class="row">
          
          <p>Do you want to reset commision ?</p>

          <div class="col-md-12">
            <section class="section m-auto">

                <div class="row">
                  <div class="col-md-6 text-end">
                    <button
                      (click)="resetCommissionReport()"
                      
                      class="btn btn-danger rounded-pill w-80"
                    >
                      Yes
                    </button>
                  </div>
                  <div class="col-md-6">
                    <button
                      class="btn btn-danger rounded-pill w-80"
                      type="button"
                      (click)="closeModal()"
                    >
                      No
                    </button>
                  </div>
                </div>

            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>