<main id="main" class="main">
  <section class="section gamedetails">
    <div class="row">
      <div class="col-md-12">
        <!--your code will come here start-->
        <h4 class="text-pink"> List of Credit Limit Transfers </h4>
        <!--your code will come here end-->
      </div>
    </div>
  </section>
  <div class="col-md-12 mt-3">
    <table class="table tableall">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"> Creation Date</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">From </th>
          <th scope="col">To</th>
          <th scope="col">Credit Limit</th>
          <th scope="col">Balance</th>
          <th scope="col">Old Balance</th>
          <th scope="col">IP</th>
        </tr>
      </thead>
      <tbody>
          <tr>
          <td>1</td>
          <td>07/03/2023 03:10:50</td>
          <td></td>
          <td></td>
          <td>vKm25</td>
          <td>testjunglee</td>
          <td>5,000</td>
          <td>5,000</td>
          <td>5,000</td>
          <td>146:212:453:33</td>
        </tr>
      </tbody>
    </table>
    <a href="" class="btn bg-dgrey rounded-pill text-white">First</a>
    <a href="" class="btn bg-dgrey rounded-pill text-white">Previous</a>
    <a href="" class="btn bg-pink rounded-pill text-white ps-4 pe-4">1</a>
    <a href="" class="btn bg-dgrey rounded-pill text-white">Next</a>
    <a href="" class="btn bg-dgrey rounded-pill text-white">Last</a>

  </div>
</main>
